/* -- Boje -- */

$mainBackground: #1E291F;
$yellow: #ffcc33;
$red: #cc3333;



/*  --- Mixins --- */

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}





