@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "variables";

#wrapper {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: $mainBackground;
    font-family: 'Raleway', sans-serif;
}

header {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url("../img/headBack.jpg");
    background-size: cover;
    padding: 10px 0;
}

#racetrack {
    background: url('../img/traka.jpg') center left repeat-x;
    height: 330px;
    border-right: dashed 10px rgba(255,255,255, 0.9);
    box-sizing: border-box;
    padding: 40px 0;
    .dog {
        display: block;
        position: relative;
    }
    #dog2 { top: 50px; }
}


#buttonsGroup {
    h2 {
        text-transform: uppercase;
        color: $yellow;
        font-size: 50px;
    }
    .clickButtons {
        @include border-radius(28px);
        border: 1px solid $yellow;
        color: #fff;
        background: $red;
        padding: 10px 20px 10px 20px;
        font-weight: bold;
        &:active {
            background: $yellow; 
            color: black;
        }
    } 
}

#raceInfoContainer {
    width: 80%; 
    margin: 40px auto;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url("../img/backResult.jpg") repeat 100%;
    height: 250px;
    font-weight: bold;
    h2 {
        color: $yellow;
        text-transform: uppercase;
        padding: 10px 0;
    }
    .raceInfo {
        font-size: 24px;
        color: white;
        width: 50%;
        float: left;
        span {
            display: block;
            font-weight: normal;
            font-size: 18px;
            color: white;
            padding: 20px 5px;
        }
    }
    #raceInfo1 {
        color: $yellow;
    }

    #raceInfo2 {
        color: $red;
    }
}

footer {
    padding: 1% 0;
    p,a {
        text-decoration: none;
        color: $yellow; 
    }
}

hr {
     border: 0; 
     height: 1px; 
     background-image: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 0.75), rgba(255,255,255, 0));
}

/*  Clearfix floating */
.clearfix:after {
    content:"";
    display: table;
    clear: both;
}





/*  --- RESPONSIVE ---  */

@media screen and (max-width: 700px) {

    #buttonsGroup{
        h2 {
            font-size: 35px;
        }
    }

    #racetrack{
        .dog {
            width: 100px;
        }
        #dog1 {
            top: 25px;
        }
        #dog2 {
            top: 115px;
        }
    }


    #raceInfoContainer {
        width: 100%;
        .raceInfo{
            span {
                font-size: 14px;
                padding: 15px 4px;
            }
        }
    }

}